<header>
  <a class='logo'>Track Web-Mood</a>
  <div class="links">
    <% if (userInfo == undefined) { %>
    <a href='/auth/register'>Register</a>
    <a href='/auth/login'>Log in</a>
    <% } else { %>
    <a href='/user'>My Profile</a>
    <a href='/auth/logout'>Log Out</a>
    <% } %>
  </div>
</header>