@import url('https://fonts.googleapis.com/css?family=Courgette|Kumar+One|Roboto');

/*============= 
/*  Pie chart  */
/* ============= */

.chart {
  display: inline-block;
  width: 110px;
  margin: 40px 0px 0px 10px;
}

.easyPieChart {
  position: relative;
  text-align: center;
}

.easyPieChart canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.percentage,
.label {
  margin-bottom: 0.5em;
  text-align: center;
  font-weight: 100;
}

.percentage {
  font-size: 17px;
}

sup {
  top: -0.2em;
  margin-left: 1px;
}
/* ============= */
/*  Boxes */
/* ============= */
/*header {
  height: 50px;
  width: 100%;
  background: gray;
}*/
/*.whole {
  background: blue;
  min-width: 100%;
  text-align:center;
 
}*/

.top-right {
  width: 300px;
  height: 200px;
  background: green;
  display: inline-block;
}

.middle-bottom {
  background: green;
  width: 100%;
  height: 200px;
  display: inline-block;
}

.right-bottom {
  height: 200px;
  width: 300px;
  background: gray;
  display: inline-block;
}
/* Contact Form */

.index-cf:before,
.index-cf:after {
  content: "";
  display: table;
}

.index-cf:after {
  clear: both;
}

.index-cf {
  zoom: 1;
}
/*-------------------------------------*/

.index-cf input {
  width: 88.45%;
  height: 20px;
  padding: 10px 5px;
  float: left;
  font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
  border: 0;
  background: #eee;
  -moz-border-radius: 3px 0 0 3px;
  -webkit-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
  width: 88.70%;
}

.index-cf input:focus {
  outline: 0;
  background: #fff;
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, .8) inset;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, .8) inset;
  box-shadow: 0 0 2px rgba(0, 0, 0, .8) inset;
}

.index-cf input::-webkit-input-placeholder {
  color: #999;
  font-weight: normal;
  font-style: italic;
}

.index-cf input:-moz-placeholder {
  color: #999;
  font-weight: normal;
  font-style: italic;
}

.index-cf input:-ms-input-placeholder {
  color: #999;
  font-weight: normal;
  font-style: italic;
}

.index-cf button {
  overflow: visible;
  position: relative;
  float: right;
  border: 0;
  padding: 0;
  cursor: pointer;
  height: 40px;
  width: 110px;
  font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
  color: #fff;
  text-transform: uppercase;
  background: #d83c3c;
  -moz-border-radius: 0 3px 3px 0;
  -webkit-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
}

.index-cf button:hover {
  background: #e54040;
}

.index-cf button:active,
.index-cf button:focus {
  background: #c42f2f;
}

.index-cf button:before {
  content: '';
  position: absolute;
  border-width: 8px 8px 8px 0;
  border-style: solid solid solid none;
  border-color: transparent #d83c3c transparent;
  top: 12px;
  left: -6px;
}

.index-cf button:hover:before {
  border-right-color: #e54040;
}

.index-cf button:focus:before {
  border-right-color: #c42f2f;
}

.index-cf button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* new-style*/

.loginContainer {
  top: 16vh;
  display: block;
  width: 400px;
  margin: auto;
  position: relative;
  zoom: 1.3;
}

.registerContainer {
  top: 11vh;
  display: block;
  width: 400px;
  margin: auto;
  position: relative;
  zoom: 1.3;
}

.profileContainer {
  top: 13vh;
  position: relative;
  zoom: 1.23;
  margin: auto;
}

.profileContainer .panel-title {
  text-transform: uppercase;
}

.panel-primary {
  height: 200px;
}

.not_found img {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}

.divider {
  display: table;
  font-size: 24px;
  margin: 40px auto;
  text-align: center;
  width: 75%;
  margin-top: 55px;
}

.divider span {
  display: table-cell;
  position: relative;
}

.divider span:first-child {
  background-image: linear-gradient(90deg, transparent, #000);
}

.divider span:first-child,
.divider span:last-child {
  -moz-background-size: 100% 2px;
  background-position: 0 0, 0 100%;
  background-repeat: no-repeat;
  background-size: 100% 2px;
  top: 13px;
  width: 50%;
}

.divider span:last-child {
  background-image: linear-gradient(90deg, #000, transparent);
}

.divider span:nth-child(2) {
  color: white;
  padding: 0px 25px;
  text-transform: uppercase;
  white-space: nowrap;
  width: auto;
}

.index-cf {
  zoom: 1;
}

.index-cf button {
  -moz-border-radius: 0 3px 3px 0;
  -webkit-border-radius: 0 3px 3px 0;
  background: #d83c3c;
  border: 0;
  border-radius: 0 3px 3px 0;
  color: #fff;
  cursor: pointer;
  float: right;
  font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
  height: 40px;
  overflow: visible;
  padding: 0;
  position: relative;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
  text-transform: uppercase;
  width: 110px;
}

.links a {
  padding: 15px;
  padding-bottom: 20px;
  padding-top: 30px;
  transition: 1s;
  color: white;
  line-height: 25px;
}

.links a:first-child {
  margin-right: -4px;
}

.links a:hover {
  background-color: #2f2f30;
  color: white;
}

.resultBoxHeader {
  background: #333333;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  color: white;
  font-family: cursive;
  height: 49px;
  letter-spacing: 1.2px;
  line-height: 49px;
  text-align: center;
  width: 100%;
}

.searchContainer {
  text-align: center;
  width: 1065px;
  margin: auto;
  background: red;
  margin-bottom: 60px;
  margin-top: 58px;
}

html {
  height: 100%;
}

body {
  background: linear-gradient(to top left, #0000ff -2%, #99ccff 144%);
  background-attachment: fixed;
}

/*    New Css   */

header {
  color: white;
  margin-top: 24px;
  text-align: center;
}

header .links {
  margin-left: 855px;
}

header .logo {
  font-family: 'Courgette', cursive;
  font-size: 40px;
  position: absolute;
  left: 165px;
}

header a {
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  text-decoration: none;
}
.resultWholeBox {
  margin: auto;
  text-align: center;
  width: 85%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.resultEachBox {
  background: #eeeeee;
  border: 1px solid #3356b7;
  border-radius: 18px 18px 0px 0px;
  box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.75);
  font-size: 20px;
  height: 257px;
  margin: 5px;
  width: 350px;
  -webkit-box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.75);
  position: relative;
  margin-bottom: 30px;
}

.resultEachBox .author {
  font-style: oblique;
  font-size: 20px;
  padding: 5px;
  border-bottom: 1px dashed #c3c3c3;
}

.resultEachBox .description {
  line-height: 1.2;
  margin-top: 8px;
  padding-right: 6px;
  padding-left: 6px;
}

.resultEachBox button {
  height: 30px;
  cursor: pointer;
  width: 100%;
  background: #eaeaea;
  border: 0.1px ridge #a8a8a8;
}

.resultEachBox button:hover {
  border: 1px solid;
}

.buttonsContainer div {
  flex-basis: 100%;
}

.buttonsContainer {
  display: flex;
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.editContainer {
  top: 12vh;
  display: block;
  width: 400px;
  margin: auto;
  position: relative;
  zoom: 1.3;
}

.whole .label {
  margin-top: 15px;
}

.whole {
  background-color: black;
  display: flex;
  background: url('/static/images/space.jpg');
  background-size: 70%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.radar-chart-container {
  color: white;
  display: inline-block;
  height: 500px;
  position: relative;
  top: 0px;
  width: 50%;
  text-align: center;
}

.radar-chart-container canvas {
  width: 640px;
  height: 400px;
  margin: 0px;
  padding: 0;
}

.chart-demo {
  padding: 0;
  margin: 0;
}

.pie-chart-container {
  border-radius: 2px;
  color: white;
  display: inline-block;
  height: 500px;
  position: relative;
  text-align: center;
  top: 0px;
  width: 50%;
  padding-top: 27px;
}

.resultsSaveForm {
  display: none;
}

.resultsSaveBttn {
  -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr='#ffffff',
      endColorstr='#f6f6f6',
      GradientType=0
    );
  background-color: #ffffff;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #666666;
  font-family: Arial;
  font-size: 23px;
  font-weight: bold;
  padding: 17px 31px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
}

.resultsSaveBttn:hover {
  background: linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr='#f6f6f6',
      endColorstr='#ffffff',
      GradientType=0
    );
  background-color: #f6f6f6;
}

.resultsSaveBttn:active {
  position: relative;
  top: 1px;
}

.createContainer {
  top: 12vh;
  display: block;
  width: 400px;
  margin: auto;
  position: relative;
  zoom: 1.3;
}

.createContainer label {
  margin-bottom: 5px;
}
